<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExerciseOne</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    

<!-- HEADER -->

<header class="header">
    <div class="header__wrapper">

        <div class="img__side">
            <img src="./img.jpg" alt="" class="random__img">
        </div>

        <div class="header__text">
            <h3 class="header__descriptions">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias perferendis molestiae mollitia laudantium quidem impedit autem doloribus omnis, 
                nobis, accusamus officia eveniet? Pariatur magnam voluptatibus velit ea mollitia libero cum molestias, voluptate expedita sed cupiditate perspiciatis, explicabo eaque quod! Amet!</h3>
        </div>

    </div>
</header>

<!-- MAIN -->




<!-- FOOTER -->



</body>
</html>